// COLORS
$magenta: #ec008c;
$lightGrey: #cccccc;
$black: #000000;
$white: #ffffff;
$transBlack: rgba(0,0,0,.5);

// BREAKPOINTS 

// MEASUREMENTS
$headerHeightMobile: 60px;
$headerHeightDesktop: 72px;

$headerPaddingMobileVertical: 20px;
$headerPaddingMobileHorizontal: 24px;
