@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";

* {
	box-sizing: border-box;
}

body {
  max-width: 100vw; 
  background: $white;
  color: $black;
  overflow: hidden;
}

a {
	text-decoration: none;
	color: inherit;
}

// HEADER BAR
.header__bar {
	height: $headerHeightMobile;
	top: 0;
	left: 0;
	right: 0; 
	display: block;
	position: absolute; 
	background: $magenta; 
	color: $white;
}

.header__logo {
	display: none;
}

// MENU TOGGLE
.menu__toggle {
	display: block;
	margin: 20px 0 0 24px;
	position: absolute;
	cursor: pointer;
}
.header__icon {
	display: block;
	cursor: pointer;
}

.header__icon--burger {
	margin: 8px 0;
	width: 24px;
	height: 4px;
	background: $white;
	display: block;
	transition: all .5s;
	&:focus, &:active {
		outline: none;
	}
	&:before, &:after {
		content: " ";
		width: 24px;
		height: 4px;
		background: $white;
		display: block;
		position: absolute;
		transition: all .5s;
	}
	&:before {
		margin-top: -8px;
	}
	&:after {
		margin-top: 8px;
	}
	&.active {
		background: none;
		transform: translateX(calc(100vw - #{2 * $headerPaddingMobileHorizontal + 24px}));
		&:before {
			margin-top: 0;
			transform: rotate(-45deg);
		}
		&:after {
			margin-top: 0;
			transform: rotate(45deg);
		}
	}
}

// CONTENT AREA 
.content__wrapper {
	margin-top: $headerHeightMobile;
}
.splash__img {
	width: 100%; 
	height: 240px;
	display: block;
	background: url("/images/background-image.jpg") center center no-repeat; 
	background-size: cover;
}
.content {
	padding: 0 24px;
}
.content__header {
	h1 {
		margin: 46px 0 33px;
		font: 44px/48px "HUGEAvantGardeBold";
	}
}
.content__copy {
	p {
		font: 14px/24px "Galaxie";
		text-align: justify;
	}
}
.content__dimmer {

}
.content__dimmer--on {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $transBlack; 
}

// MENU
.content__wrapper--push {
	transform: translateX(calc(100vw - 72px));
	transition: all .3s;
	min-height: calc(100vh - #{$headerHeightMobile});
	max-height: calc(100vh - #{$headerHeightMobile});
	overflow: hidden;
}
.menu {
	width: calc(100vw - 72px);
	top: $headerHeightMobile;
	bottom: 0;
	left: -100%;
	display: block;
	background: $white;
	position: absolute;
	transition: all .3s;
}
.menu--open {
	transform: translateX(100vw);
	overflow: auto;
	display: flex;
	flex-direction: column; 
}
.menu__itemContainer {
	// padding-top: 12px;
	flex: 1 1 auto;
	overflow-y: auto;
	min-height: 0;
}
.menu__link {
	padding-left: 24px;
	height: 48px;
	font: 21px/48px "HUGEAvantGardeBold";
	display: block;
	cursor:pointer;
	position: relative;
}
.menu__link--primary {
	&:hover {
		background: $lightGrey;
	}
}
.menu__link--secondary {
	font: 16px/48px "Galaxie";
	&:hover {
		background: $lightGrey;
		color: $magenta;
	}
}

.menu__chevron {
	&:before {
		margin-top: -13px;
		width: 12px;
		height: 12px;
		top: 50%;
		right: 24px;
		content: "";
		border-style: solid;
		border-width: 4px 4px 0 0;
		border-color: $magenta;
		transform: rotate(495deg);
		transition: all .3s;
		display: inline-block;
		position: absolute;
	}
}
.menu__chevron--active {
	&:before {
		transform: rotate(315deg) translateX(-6px) translateY(6px);
	}
}
.menu__submenu {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s;
	transition-timing-function: ease-in;	
}

// SUBMENU OPEN STATE
.menu__item--open {
	.menu__chevron:before {
		transform: rotate(315deg) translateX(-6px) translateY(6px);
	}
	.menu__submenu {
		max-height: 500px;
		transition-timing-function: ease-out;	
	}
}
